
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
}

.outer-box{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top left,#48d1cc,#ee82ee);
}

.inner-box{
  width: 400px;
  margin: 0 auto;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  padding: 20px 40px;
  background-color:#fff8dc;
  /*backdrop-filter: blur(2px);*/
  border-radius: 8px;
  box-shadow: 2px 2px 5px #4b0082;
  z-index: 2;

}

.signup-header h1{
  font-size: 2.5rem;
  color:#212121;

}

.signup-header p{
  font-size: 0.9rem;
  color: #555;
}
.signup-body{
  margin: 20px 0;
}

.signup-body p{
  margin: 10px 0px;
}

.signup-body p label{
  display: block;
  font-weight: bold;
}

.signup-body p input{
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  margin: 4px;
}

#submit{

  /*border: none;
  color: black;
  cursor: pointer;
  background: linear-gradient(to top left,#48d1cc,#ee82ee);*/

  display: flex;
 padding: 0.875em 2em;
 cursor: pointer;
 border-radius: 24px;
 background: linear-gradient(90deg, #9932cc, transparent) #2196f3;
 font-family: inherit;
 color: #fff;

 text-decoration: none;
 transition: background-color 1s;
 place-content: center;
}
.gradient-hover-effect:hover, .gradient-hover-effect:focus {
 background-color: #e91e63;
 color: #fff;

}
#submit:hover{
  background-color:#00ced1;
}

.signup-footer p{
  color: #555;
  text-align: center;
}
.signup-footer p a{
  color:#90ee90;
}

.circle{
  width: 200px;
  height: 200px;
  border-radius:100px;
  background: linear-gradient(to top right,#48d1cc,white);
  position: absolute;
}

.c1{
  top:100px;
   left: 40px;
}

.c2{
  bottom: 100px;
  right: 40px;
}
